<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="food"></ion-back-button>
    </ion-buttons>
    <ion-title>蔬菜濃湯</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/c.jpg">
  <h3>營養指標</h3>
  <p>蛋白質:2.8g </p>
  <p>脂肪:5.4g </p>
  <p>醣類:12g </p>
  <p>熱量:100Kcal</p>
  <h3>食材</h3>
  <p>馬鈴薯:1個</p>
  <p>胡蘿蔔:1小條</p>
  <p>芹菜:適量</p>
  <p>雞高湯:500ml</p>
  <p>洋蔥:半顆</p>
  <p>洋菇:8個</p>
  <p>蒜頭:3片</p>
  <h3>調味料</h3>
  <p>鮮奶油:少許</p>
  <p>鮮奶:500ml</p>
  <p>無鹽奶油:80克</p>
  <h3>作法</h3>
  <h5>步驟1</h5>
  <img src="assets/images/c-1.jpg">
  <p>馬鈴薯、胡蘿蔔去皮，切塊；洋菇切片，洋蔥切丁、芹菜切細(保留芹菜葉)，備用；馬鈴薯、胡蘿蔔汆燙備用(也可用電鍋蒸熟)。</p>
  <h5>步驟2</h5>
  <img src="assets/images/c-2.jpg">
  <p>熱油鍋，放入奶油融化後加入蒜片、洋蔥丁炒至透明，再加洋菇片、部份芹菜、馬鈴薯、紅蘿蔔炒軟，倒入果汁機打汁(保留少許顆粒)。</p>
  <h5>步驟3</h5>
  <img src="assets/images/c-3.jpg">
  <p>將步驟.2 倒回鍋中，加入1包雞高湯以中火煮滾，轉小火加入鮮奶、鮮奶油煮滾，灑上芹菜葉即可。</p>
  
</ion-content>