<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="health"></ion-back-button>
    </ion-buttons>
    <ion-title>健康大小事</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h4>400次咖啡風靡社群！營養師曝潛藏危機：4種人少喝</h4>
    <img src="assets/images/1.jpg">
    <p>社群平台Instagram近來吹起「400次手打咖啡」挑戰，不僅外型及配色相當療癒，綿密滑順的奶泡更是成敗關鍵，深獲不少咖啡迷的喜愛，紛紛加入挑戰。但有營養師指出，400次咖啡固然香濃美味，但糖分和熱量同時也高得嚇人。</p>
    <p>比起一般咖啡，400次手打咖啡風味更濃郁香甜，做法就是將咖啡粉、白砂糖、水以「1：1：1」等比例放入碗中完全溶合，並用手或攪拌器攪拌400次，使空氣充分打進咖啡混合物之中，打發直至呈奶泡狀，最後在牛奶上方覆蓋咖啡泡沫就完成了。</p>
    <p>據三立新聞網報導，臺安醫院體重管理中心營養師劉怡里指出，一杯中杯拿鐵(黑咖啡加鮮奶)正常熱量約120大卡，但「400次咖啡」原料為3合1咖啡粉及糖、水，熱量遠超過純黑咖啡與拿鐵，恐怕高達300至400大卡。</p>
    <p>營養師說，調製一杯400次咖啡約須使用15公克的糖，依照世界衛生組織建議，一人平均每天糖份攝取量最好控制在總熱量5%以下，若以成人來說，每天攝取的糖分上限為25公克，因此，光是一杯400次咖啡，就等於喝下15公克糖，十分驚人。</p>
    <p>由於400次咖啡因含量偏高，為一般黑咖啡的4倍，對於本身患有高血壓、偏頭痛、胃食道逆流或容易失眠的患者來說，容易引起身體不適。營養師提醒，400次咖啡屬於高糖、高咖啡的奶蓋咖啡，因此自行調製時，建議可少放糖，或選擇豆漿當底層，喝起比較不會有負擔。</p>
</ion-content>